# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized


**Objectives:**
- popular languages for datascience :py,R,java,sql,julia,c++,php
- libraries for datascience : pandas,numpy,seaborn ,matplotlib
- datascience tools-databases, ibm watson studio,jupyternotebook,git
- introducing arithmetic expression

## Some of the popular languages that Data Scientists use are:


1. python
2. R
3. sql
4. java
5. scala

## Some of the commonly used libraries used by Data Scientists include:

1. matplotlib
2. numpy
3. pandas
4. scikit_learn 
5. tensorflow

## table of Data Science tools

|Data science tools|
|-------------------|
|jupyter notebook|
|Rstudio|
|apache spark|
 |vs code|
 |IBM watson studio|
 |apache hive|

## introducing arithmetic expression examples

###  Below are a few examples of evaluating arithmetic expressions in Python.

In [22]:
(2+4 )+(45-5)

46

In [23]:
(2**3) +(2*3)

14

In [18]:
50%10 #remainder

0

In [20]:
50/10 # quotient

5.0

In [24]:

#This a simple arithmetic expression to mutiply then add integers according to operator precedence and associativity
# (parentheses) have highest precedence
(3*4)+5

17

ctrl + / to comment multiple line at once

In [27]:
minutes =200
#This will convert 200 minutes to hours by diving by 60.
hours = minutes / 60
print (hours)

3.3333333333333335

## author
shaik ahida